{% extends "base_generic.html" %}
{% block content %}

<h1>Personal information</h1>
<label for="username">Username:</label>
<input type="text" id="username" name="username" value="{{ user.username }}" disabled><br>
<label for="email">Email:</label>
<input type="text" id="email" name="email" value="{{ user.email }}" disabled><br>
<label for="card_number">Card number:</label>
<input type="text" id="card_number" name="card_number" value="{{ user.card_number }}" disabled><br>
<label for="personal_id">Personal ID:</label>
<input type="text" id="personal_id" name="personal_id" value="{{ user.personal_id }}" disabled><br>
<label for="account_number">Account number:</label>
<input type="text" id="account_number" name="account_number" value="{{ user.account_number }}" disabled><br>

{% endblock %}